<template>
    <table class="table-fixed w-full">
        <thead>
            <tr class="bg-gray-100">
                <th class="px-4 py-2 w-20">No.</th>
                <th class="px-4 py-2">Title</th>
                <th class="px-4 py-2">Content</th>
                <th class="px-4 py-2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in tasks" :key="row.id">
                <td class="border px-4 py-2">{{ row.id }}</td>
                <td class="border px-4 py-2">
                    {{ row.title }}
                </td>
                <td class="border px-4 py-2">{{ row.content }}</td>
                <td class="border px-4 py-2">
                    <button
                        @click="edit(row)"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Edit
                    </button>
                    <button
                        @click="deleteRow(row)"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    props:['tasks'],
    methods:{
        deleteRow: function(data) {
            if (!confirm("Are you sure want to remove?")) return;
            data._method = "DELETE";
            this.$inertia.post("/tasks/" + data.id, data);
            this.reset();
            this.$emit('closeModal');
        },
        edit: function(row){
            this.$emit('edit', row);
        }
    }
}
</script>